@import "~./constants.less";
@import "~./utils.less";

@import (less) "~../../lib/et-book/fonts.css";
@import (less) "~../../lib/source/fonts.css";
@import (less) "~../../lib/fira/fonts.css";
@import (less) "~../../lib/icomoon/style.less";

html, body {
    background: @background-color;
    background: var(--background-color);
    color: @text-color;
    color: var(--text-color);
    @font-family();
    font-size: 17px;
    line-height: 1.5;
    margin: 0;
    padding: 0;
    -webkit-text-size-adjust: none;
}

body {
    display: block !important;
}

@media screen {
    .root {
        padding: 0;
        &.sidebarVisible { padding-left: @sidebar-width; }
        @media (max-width: @screen-medium-max) { padding-left: 0 !important; }
    }

    main {
        // Animate the left position when the sidebar visibility is toggled
        position: relative;
        left: 0;
        .sidebarVisible & { left: -@sidebar-width; }

        transition: 200ms transform;
        .sidebarVisible & { transform: translateX(@sidebar-width); }

        // But not in screen sizes where the sidebar is displayed in a modal window.
        @media (max-width: @screen-medium-max) {
            transform: none !important;
            left: 0 !important;
        }
    }
}

@media print {
    html, body {
        font-size: 12px;
        color: inherit;
    }
}

.modalBackground {
    position: fixed;
    left: 0; top: 0; right: 0; bottom: 0;
    z-index: 50;

    background: black;
    display: none;
    pointer-events: none;
    opacity: 0;

    transition: 200ms opacity;

    @media (max-width: @screen-medium-max) {
        display: block;
        .sidebarModalVisible & {
            opacity: 0.5;
            pointer-events: auto;
        }
    }
}

.toolbar {
    position: fixed;
    left: 0; top: 0;
    z-index: 100;
    white-space: nowrap;
    margin: 10px;
    pointer-events: none;

    @media not screen { display: none; }

    > * { vertical-align: middle; }

    @buttom-highlight-color: #7f7f7f;

    // Animate the left position when the sidebar visibility is toggled
    transition: 200ms transform;
    .sidebarVisible & { transform: translateX(@sidebar-width); }

    // But not in screen sizes where the sidebar is displayed in a modal window.
    @media (max-width: @screen-medium-max) {
        transform: none !important;
    }

    // Toolbar button
    > input[type=checkbox] { display: none; }
    > input[type=checkbox] + label {
        height: 30px;
        display: inline-block;
        box-sizing: border-box;
        border: 1px solid #aaa;
        border-radius: 1000px;
        opacity: 0.5;
        position: relative;
        pointer-events: auto;
        cursor: pointer;
        &:hover {
            opacity: 1;
        }
    }
    > input[type=checkbox]:checked + label {
        border-color: @buttom-highlight-color;
        background: @buttom-highlight-color;
        color: #eee;
        opacity: 1;
    }

    label.sidebarToggle, label.sidebarToggleModal {
        width: 30px; @text-hidden();
        > span {
            left: 8px; top: 10px; width: 12px;
            &:before, &:after {
                content: "";
                left: 0; right: 0;
            }
            &, &:before, &:after {
                position: absolute;
                background: @foreground-color;
                background: var(--foreground-color);
                height: 1px;
            }
            &:before { top: 4px; }
            &:after { top: 8px; }
        }
    }
    > input[type=checkbox]:checked + label.sidebarToggle > span,
    > input[type=checkbox]:checked + label.sidebarToggleModal > span {
        &, &:before, &:after { background: #eee !important; }
    }

    // Display the appropriate button depending on the screen size.
    label.sidebarToggleModal { display: none !important; }
    @media (max-width: @screen-medium-max) {
        label.sidebarToggle { display: none !important; }
        label.sidebarToggleModal { display: inline-block !important; }
    }

    .spinner {
        position: relative;
        display: inline-block;
        width: 16px; height: 16px;
        margin: 0 8px;
        vertical-align: -4px;

        animation: 2000ms both infinite linear;
        animation-name: spin;
        opacity: 0.6;

        &:before, &:after {
            box-sizing: border-box;
            content: "";
            position: absolute;
            left: 0; top: 0; width: 100%; height: 100%;
            border: 1px solid @foreground-color;
            border: 1px solid var(--foreground-color);
            border-top-color: transparent;
            border-right-color: transparent;
            border-bottom-color: transparent;
            border-radius: 100%;
            animation: 600ms both infinite ease-in-out;
            animation-name: spin;
        }
        &:after {
            animation-delay: 50ms;
        }
    }
}

@sidebar-toolbar2-line-height: 1.8rem;
@sidebar-toolbar2-height: @sidebar-toolbar2-line-height + 1px;

.sidebar {
    position: fixed;
    left: 0; top: 0; bottom: 0; width: @sidebar-width;
    z-index: 200;
    box-sizing: border-box;;

    @media not screen { display: none; }

    @media (max-width: @screen-small-max) { width: 80%; }

    background: #fafafa;
    @media screen and (prefers-color-scheme: dark) {
        background: #444;
    }
    border-right: 1px solid rgba(128, 128, 128, 0.4);

    // Animate toggling the sidebar
    transition: 200ms transform;
    .root:not(.sidebarVisible) & { transform: translateX(-100%); }
    @media (max-width: @screen-medium-max) {
        .root.sidebarModalVisible & { transform: none; }
        .root:not(.sidebarModalVisible) & { transform: translateX(-100%); }
    }

    > span.search {
        position: absolute;
        left: 7px;
        top: 5px;

        > input {
            @ui-font-family();
            font-size: 0.8rem;
            -webkit-appearance: none;
            width: calc(@sidebar-width - 14px);
            height: calc(1em + 12px);

            box-sizing: border-box;

            background: transparent;
            color: inherit;
            padding: 4px 4px;
            margin: 0;
            border-radius: 0;
            border: none;

            &::-webkit-search-decoration { -webkit-appearance: none; }
        }

        // Underline like Material UI
        border-bottom: 1px solid rgba(128, 128, 128, 0.1);
        &:hover {
            border-bottom-color: rgba(128, 128, 128, 0.2);
        }

        > input {
            & + span {
                position: absolute; content: "";
                left: 0; bottom: -1px; height: 2px; width: 100%;
                background: @accent-color;
                transform: scaleX(0);
                transform-origin: 0% 50%;
                transition: 200ms transform;
            }
            &:focus {
                outline: none;
                & + span { transform: none; }
            }
        }
    }

    > nav {
        display: block;
        position: absolute;
        left: 0; top: calc(1em + 16px); right: 0; bottom: calc(@sidebar-toolbar2-height);
        overflow: auto;
        pointer-events: auto;
        -webkit-overflow-scrolling: touch;
    }
}

// A bar displayed below the TOC
.toolbar2 {
    position: absolute;
    left: 7px; right: 7px; bottom: 0; height: calc(@sidebar-toolbar2-height);
    box-sizing: border-box;

    border-top: 1px solid rgba(128, 128, 128, 0.1);

    @ui-font-family();
    font-size: 0.8rem;
    line-height: 1;

    > button {
        border: none;
        background: none;
        padding: 0 0.7em;
        margin: 0;
        height: calc(@sidebar-toolbar2-height);
        font-family: inherit;
        font-size: inherit;
        font-weight: inherit;
        line-height: 1;
        outline: none;
        color: inherit;

        display: flex;
        align-items: center;

        opacity: 0.5;
        &:hover { opacity: 0.8; }

        cursor: pointer;
    }

    // Popup buttons
    > input { display: none; }

    > label {
        @margin-v: 4px;
        box-sizing: border-box;
        height: calc(@sidebar-toolbar2-height - (@margin-v * 2));
        border-radius: 4em;
        margin: @margin-v 2px;

        display: flex;
        align-items: center;
        justify-content: center;

        opacity: 0.5;
        &:hover { opacity: 0.8; }

        border: 1px solid rgba(128, 128, 128, 0.2);
    }
    > input:checked + label {
        opacity: 1;
        background: #888;
        border-color: #888;
        color: #eee;
    }

    // Popup wrappers
    > div {
        position: relative;
        // width: 0;
        height: calc(@sidebar-toolbar2-line-height);
    }
}

/* .toolbar2 */ .operateTOCGlobally {
    &.expandAll { @icon-enlarge2(); }
    &.collapseAll { @icon-shrink(); }
    &.clearSearch { @icon-cancel-circle(); }
    &:before { margin-right: 7px; }

    float: left;
}

/* .toolbar2 */ .helpButton {
    @icon-info();
    & > span { @text-hidden(); }

    float: right;
    text-align: center;
    width: 3em;

    position: relative;
    top: -1px;
    cursor: pointer;

    // Popup wrapper
    & + div { float: right; }
}

/* .toolbar2 */ .helpPopup {
    cursor: default;

    // balloon
    > div {
        @bg-color: {
            background: #fafafa;
            @media (prefers-color-scheme: dark) { background: #444; }
        };
        @border-color: rgba(128, 128, 128, 0.4);

        position: absolute;
        left: calc(3em + @arrow-size / 2 / sqrt(2) + 12px);
        bottom: 4px;
        z-index: 10;

        white-space: nowrap;

        @bg-color();
        border-radius: 6px;
        padding: 10px 20px;

        border: 1px solid @border-color;

        // arrow
        @arrow-size: 8px;
        &:before {
            content: "";
            display: block;
            position: absolute;
            left: (-@arrow-size / 2 - 1px);
            top: calc(100% - @arrow-size / 2 + 4px - (@sidebar-toolbar2-line-height) / 2);
            width: @arrow-size; height: @arrow-size;
            border: 1px solid;
            border-color: transparent;
            border-bottom-color: @border-color;
            border-left-color: @border-color;
            @bg-color();
            transform: rotate(45deg);
        }

        @media screen and (max-width: @screen-small-max) {
            // Display the balloon above the button
            @x-pos: 70%;
            left: 1.5em; bottom: calc(100% + @arrow-size / 2 / sqrt(2) + 4px);
            transform: translateX(-@x-pos);
            &:before {
                left: calc(@x-pos - @arrow-size / 2); top: auto;
                bottom: (-@arrow-size / 2 - 1px);
                transform: rotate(-45deg);
            }
        }

        transition: 200ms opacity;
        opacity: 0;
        &:global(.act) {
            pointer-events: initial;
            opacity: 1;
            transition: none;
        }
    }
}

main {
    margin: 3em 2em;
    @media screen and (max-width: @screen-medium-max) {
        margin: 3em 1em;
    }
    @media screen and (max-width: @screen-small-max) {
        margin: 3em 0.5em;
    }
    @import (less) "~./mfview.less";
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
