// Synchronize these with `constants.ts`

@namespace xml url(http://www.w3.org/XML/1998/namespace);

// Media queries breakpoints
//
//  - large -- desktop
//    TOC is always visible.
//
//  - medium -- narrow tablet
//    TOC is displayed in a modal window.
//
//  - small -- smartphone
//    TOC is displayed in a full-screen modal window.
//    Sidenotes are replaced with footnotes. (TODO: implement this)
//
@screen-medium-max: 900px;
@screen-small-max: 600px;

// Since range expressions (e.g., `@media (width > 400px)`) are not commonly
// supported...
@screen-large-min: (@screen-medium-max + 0.00001px);
@screen-medium-min: (@screen-small-max + 0.00001px);

@sidebar-width: 11rem;

@sidenote-width: 11rem;
@sidenote-body-separation: 20px;
@sidenote-margin: 15px;
@sidenote-vertical-adjustment: 20px;

// Color theme
@accent-color: #3060d0;
@accent-color-brighter: #40d0f0;

@background-color: white;
@text-color: #444;
@foreground-color: black;

// CSS variables
//
// This is a relatively new addition to CSS. Make sure to have a non-variable
// version of color specification as a fallback for old browsers.
// It's safe to assume that the support for `prefers-color-scheme` implies
// that for CSS variables.
:root {
    --background-color: @background-color;
    --text-color: @text-color;
    --foreground-color: @foreground-color;

    @media screen and (prefers-color-scheme: dark) {
        --background-color: #222;
        --text-color: #eee;
        --foreground-color: white;
    }
}

// Font families
@font-family: {
    font-family: 'et-book', 'Palatino', serif;
    [xml|lang=ja] & { font-family: 'et-book', 'YuMincho', 'Yu Mincho', 'Hiragino Mincho ProN', 'Hiragino Mincho Std', serif; }
};
@bold-font-family: {
    font-weight: bold;
    [xml|lang=ja] & { font-family: 'et-book', 'YuGothic', 'Yu Gothic', 'Hiragino Sans', 'Hiragino Kaku Gothic ProN', 'Hiragino Kaku Gothic Pro', 'Hiragino Kaku Gothic Std', serif; }
};
@monospace-font-family: {
    font-family: 'Source Code Pro', Menlo, Consolas, monospace;
};
@ui-font-family: {
    font-family: 'Helvetica', 'Arial', 'Meiryo UI', sans-serif;
};
