// Media queries breakpoints
//
//  - large -- desktop
//    TOC is always visible.
//
//  - medium -- narrow tablet
//    TOC is displayed in a modal window.
//
//  - small -- smartphone
//    TOC is displayed in a full-screen modal window.
//    Sidenotes are replaced with footnotes. (TODO: implement this)
//
@screen-medium-max: 800px;
@screen-small-max: 600px;

@sidebar-width: 180px;

// Color theme
@accent-color: #3060e0;

// Font families
@font-family: 'Source Serif Pro', serif;
@monospace-font-family: 'Source Code Pro', Menlo, Consolas, monospace;
@ui-font-family: "Fira Sans", sans-serif;
