// Media queries breakpoints
//
//  - large -- desktop
//    TOC is always visible.
//
//  - medium -- narrow tablet
//    TOC is displayed in a modal window.
//
//  - small -- smartphone
//    TOC is displayed in a full-screen modal window.
//    Sidenotes are replaced with footnotes. (TODO: implement this)
//
@screen-medium-max: 800px;
@screen-small-max: 600px;

// Since range expressions (e.g., `@media (width > 400px)`) are not commonly
// supported...
@screen-large-min: (@screen-medium-max + 0.00001px);

@sidebar-width: 180px;

@sidenote-width: 160px;
@sidenote-body-separation: 10px;
@sidenote-margin: 15px;
@sidenote-vertical-adjustment: 40px;

// Color theme
@accent-color: #3060e0;

// Font families
@font-family: 'Source Serif Pro', serif;
@monospace-font-family: 'Source Code Pro', Menlo, Consolas, monospace;
@ui-font-family: "Fira Sans", sans-serif;
