.root {
    font-family: 'Fira Sans';
    font-size: 0.8rem;
    line-height: 1.2;

    margin: 0;
    padding: 5px 0;

    ul {
        margin: 0;
        padding: 0;
    }

    li {
        list-style: none;
        margin: 0; padding: 0;
        > a {
            color: inherit;
            text-decoration: none;
            display: block;
            padding: 0.25rem 0;
        }
        > a > * {
            // `h1`...`h6` matches here. Remove all heading-specific styles.
            font-family: inherit;
            font-style: inherit;
            font-size: inherit;
            font-weight: inherit;
            margin: 0;
            padding: 0;
            display: block;
        }
        // Indentation
        .indent(@level) { padding-left: unit((0.3 + pow(@level, 0.7)), em); }
        > a > h1 { .indent(0); }
        > a > h2 { .indent(1); }
        > a > h3 { .indent(2); }
        > a > h4 { .indent(3); }
        > a > h5 { .indent(4); }
        > a > h6 { .indent(5); }
        > a > h7 { .indent(6); }
        > a > h8 { .indent(7); }
        > a > h9 { .indent(8); }

        &.active {
            > a {
                background: #3060e0;
                color: #eee;
            }
        }
    }

}
