# Source code
/app
/lib
/rust
*.sublime-*
/.taskfile.yml
/Cargo.lock
/Cargo.toml
/tools

# Build configurations
/tsconfig.json
/*.js

# Development artifacts
/*.tgz
/yarn.lock
/wasm
/target

# TypeScript source maps (which are useless without source code)
/dist/**/*.map

# Examples
/examples
